.App-icon {
  height: 18vmin;
  pointer-events: none;
}

.App-title {
  height: 18vmin;
  pointer-events: none;
}

.App-slogan {
  height: 3vmin;
  pointer-events: none;
}

/* add animation to the logo */
@media (prefers-reduced-motion: no-preference) {
  .App-icon {
    animation: App-icon-ani infinite 1s both;
  }
}

@keyframes App-icon-ani {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
