.header {  
  background-color: #20232a;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1279px) and (min-width: 600px) {
  .top {
    height: 50px;
  }
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

@media (min-width: 600px) {
  .brand {
    width: calc(100% / 6);
  }
}

.brand {
  display: flex;
  margin-right: 10px;
  height: 100%;
  align-items: center;
  color: #61dafb;
}

.brand-icon {
  margin-right: 10px;
}

/* add animation to the logo */
@media (prefers-reduced-motion: no-preference) {
  .brand-icon {
    animation: brand-icon-ani infinite 1s both;
  }
}

@keyframes brand-icon-ani {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

.navbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

@media (max-width: 979px) and (min-width: 600px) {
  .navitem {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  transition: color 0.2s ease-out;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  text-decoration: none;
}

.navitem:hover {
  color: rgb(255, 199, 199);
  transition: color 0.2s ease-out;
}

@media (min-width: 600px) {
  .highlighted {
    position: relative;
  }
  
  .underline {
    position: absolute;
    bottom: -1px;
    height: 4px;
    background: rgb(255, 199, 199);
    /* #61dafb; */
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 979px) and (min-width: 600px) {
  .highlighted {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.highlighted {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 199, 199);
   /* #61dafb; */
  transition: color 0.2s ease-out;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  text-decoration: none;
}

.leftBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}